<a href="https://colab.research.google.com/github/Anushka-S10/pandas-exercise/blob/main/pandas_exercise_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/hw_25000.csv')
df.head()

   Index   "Height(Inches)"   "Weight(Pounds)"
0      1           65.78331           112.9925
1      2           71.51521           136.4873
2      3           69.39874           153.0269
3      4           68.21660           142.3354
4      5           67.78781           144.2971

In [3]:
df.columns

Index(['Index', ' "Height(Inches)"', ' "Weight(Pounds)"'], dtype='object')

In [4]:
col=["Index","Height","Weight"]
df.columns=col
df.head()

   Index    Height    Weight
0      1  65.78331  112.9925
1      2  71.51521  136.4873
2      3  69.39874  153.0269
3      4  68.21660  142.3354
4      5  67.78781  144.2971

In [5]:
# Find all the Rows based on any condition in the Column
df.loc[df.Weight>145]

       Index    Height    Weight
2          3  69.39874  153.0269
46        47  66.88088  145.6837
50        51  69.91479  147.0219
55        56  70.18447  147.8926
56        57  70.40617  155.8987
...      ...       ...       ...
24914  24915  67.85823  147.5064
24926  24927  71.69485  154.4811
24947  24948  69.17056  154.7821
24980  24981  69.79922  154.4399
24992  24993  70.96218  146.1936

[1528 rows x 3 columns]

In [6]:
# Find all the Rows with more than One Column

df.loc[(df.Weight>150) & (df.Height>60)]

       Index    Height    Weight
2          3  69.39874  153.0269
56        57  70.40617  155.8987
82        83  70.05147  155.3767
138      139  73.90107  151.3913
156      157  70.98112  158.9562
...      ...       ...       ...
24837  24838  70.54927  150.3874
24889  24890  71.01048  161.8532
24926  24927  71.69485  154.4811
24947  24948  69.17056  154.7821
24980  24981  69.79922  154.4399

[626 rows x 3 columns]

In [7]:
# Selecting Required Columns with a condition

df.loc[(df.Weight>=151),["Index","Height"]]

       Index    Height
2          3  69.39874
56        57  70.40617
82        83  70.05147
138      139  73.90107
156      157  70.98112
...      ...       ...
24750  24751  70.82192
24889  24890  71.01048
24926  24927  71.69485
24947  24948  69.17056
24980  24981  69.79922

[524 rows x 2 columns]

In [8]:

# We can select Rows using iloc

df.iloc[[0,10]]

    Index    Height    Weight
0       1  65.78331  112.9925
10     11  66.48769  127.4516

In [9]:
# We can also select Rows and Specific Columns

df.iloc[[5,7],[0,2]]

   Index    Weight
5      6  123.3024
7      8  136.4623

In [10]:

# We can also select a range using iloc

df.iloc[1:56]

    Index    Height     Weight
1       2  71.51521  136.48730
2       3  69.39874  153.02690
3       4  68.21660  142.33540
4       5  67.78781  144.29710
5       6  68.69784  123.30240
6       7  69.80204  141.49470
7       8  70.01472  136.46230
8       9  67.90265  112.37230
9      10  66.78236  120.66720
10     11  66.48769  127.45160
11     12  67.62333  114.14300
12     13  68.30248  125.61070
13     14  67.11656  122.46180
14     15  68.27967  116.08660
15     16  71.09160  139.99750
16     17  66.46100  129.50230
17     18  68.64927  142.97330
18     19  71.23033  137.90250
19     20  67.13118  124.04490
20     21  67.83379  141.28070
21     22  68.87881  143.53920
22     23  63.48115   97.90191
23     24  68.42187  129.50270
24     25  67.62804  141.85010
25     26  67.20864  129.72440
26     27  70.84235  142.42350
27     28  67.49434  131.55020
28     29  66.53401  108.33240
29     30  65.44098  113.89220
30     31  69.52330  103.30160
31     32  65.81320  120.75360
32     33  67.81630  125.78860
33     34  70.59505  136.22250
34     35  71.80484  140.10150
35     36  69.20613  128.74870
36     37  66.80368  141.79940
37     38  67.65893  121.23190
38     39  67.80701  131.34780
39     40  64.04535  106.71150
40     41  68.57463  124.35980
41     42  65.18357  124.85910
42     43  69.65814  139.67110
43     44  67.96731  137.36960
44     45  65.98088  106.44990
45     46  68.67249  128.76390
46     47  66.88088  145.68370
47     48  67.69868  116.81900
48     49  69.82117  143.62150
49     50  69.08817  134.93250
50     51  69.91479  147.02190
51     52  67.33182  126.32850
52     53  70.26939  125.48390
53     54  69.10344  115.70840
54     55  65.38356  123.48920
55     56  70.18447  147.89260

In [11]:
# We can also select a Range over Rows and Columns using iloc

df.iloc[52:96,0:2]

    Index    Height
52     53  70.26939
53     54  69.10344
54     55  65.38356
55     56  70.18447
56     57  70.40617
57     58  66.54376
58     59  66.36418
59     60  67.53700
60     61  66.50418
61     62  68.99958
62     63  68.30355
63     64  67.01255
64     65  70.80592
65     66  68.21951
66     67  69.05914
67     68  67.73103
68     69  67.21568
69     70  67.36763
70     71  65.27033
71     72  70.84278
72     73  69.92442
73     74  64.28508
74     75  68.24520
75     76  66.35708
76     77  68.36275
77     78  65.47690
78     79  69.71947
79     80  67.72554
80     81  68.63941
81     82  66.78405
82     83  70.05147
83     84  66.27848
84     85  69.20198
85     86  69.13481
86     87  67.36436
87     88  70.09297
88     89  70.17660
89     90  68.22556
90     91  68.12932
91     92  70.24256
92     93  71.48752
93     94  69.20477
94     95  70.06306
95     96  70.55703

In [12]:
## That was all about, `loc` and `iloc` available with Pandas