<a href="https://colab.research.google.com/github/Anushka-S10/pandas-exercise/blob/main/pandas_exercise_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/homes.csv')
df.head()

,Sell,"""List""","""Living""","""Rooms""","""Beds""","""Baths""","""Age""","""Acres""","""Taxes"""
0,142,160,28,10,5,3,60,0.28,3167
1,175,180,18,8,4,1,12,0.43,4033
2,129,132,13,6,3,1,41,0.33,1471
3,138,140,17,7,3,1,22,0.46,3204
4,232,240,25,8,4,3,5,2.05,3613

In [3]:
# Convert the Dataframe to JSON
df.to_json(orient="index")

'{"0":{"Sell":142," \\"List\\"":160," \\"Living\\"":28," \\"Rooms\\"":10," \\"Beds\\"":5," \\"Baths\\"":3," \\"Age\\"":60," \\"Acres\\"":0.28," \\"Taxes\\"":3167},"1":{"Sell":175," \\"List\\"":180," \\"Living\\"":18," \\"Rooms\\"":8," \\"Beds\\"":4," \\"Baths\\"":1," \\"Age\\"":12," \\"Acres\\"":0.43," \\"Taxes\\"":4033},"2":{"Sell":129," \\"List\\"":132," \\"Living\\"":13," \\"Rooms\\"":6," \\"Beds\\"":3," \\"Baths\\"":1," \\"Age\\"":41," \\"Acres\\"":0.33," \\"Taxes\\"":1471},"3":{"Sell":138," \\"List\\"":140," \\"Living\\"":17," \\"Rooms\\"":7," \\"Beds\\"":3," \\"Baths\\"":1," \\"Age\\"":22," \\"Acres\\"":0.46," \\"Taxes\\"":3204},"4":{"Sell":232," \\"List\\"":240," \\"Living\\"":25," \\"Rooms\\"":8," \\"Beds\\"":4," \\"Baths\\"":3," \\"Age\\"":5," \\"Acres\\"":2.05," \\"Taxes\\"":3613},"5":{"Sell":135," \\"List\\"":140," \\"Living\\"":18," \\"Rooms\\"":7," \\"Beds\\"":4," \\"Baths\\"":3," \\"Age\\"":9," \\"Acres\\"":0.57," \\"Taxes\\"":3028},"6":{"Sell":150," \\"List\\"":160," \\"Living\\"":20," \\"Rooms\\"":8," \\"Beds\\"":4," \\"Baths\\"":3," \\"Age\\"":18," \\"Acres\\"":4.0," \\"Taxes\\"":3131},"7":{"Sell":207," \\"List\\"":225," \\"Living\\"":22," \\"Rooms\\"":8," \\"Beds\\"":4," \\"Baths\\"":2," \\"Age\\"":16," \\"Acres\\"":2.22," \\"Taxes\\"":5158},"8":{"Sell":271," \\"List\\"":285," \\"Living\\"":30," \\"Rooms\\"":10," \\"Beds\\"":5," \\"Baths\\"":2," \\"Age\\"":30," \\"Acres\\"":0.53," \\"Taxes\\"":5702},"9":{"Sell":89," \\"List\\"":90," \\"Living\\"":10," \\"Rooms\\"":5," \\"Beds\\"":3," \\"Baths\\"":1," \\"Age\\"":43," \\"Acres\\"":0.3," \\"Taxes\\"":2054},"10":{"Sell":153," \\"List\\"":157," \\"Living\\"":22," \\"Rooms\\"":8," \\"Beds\\"":3," \\"Baths\\"":3," \\"Age\\"":18," \\"Acres\\"":0.38," \\"Taxes\\"":4127},"11":{"Sell":87," \\"List\\"":90," \\"Living\\"":16," \\"Rooms\\"":7," \\"Beds\\"":3," \\"Baths\\"":1," \\"Age\\"":50," \\"Acres\\"":0.65," \\"Taxes\\"":1445},"12":{"Sell":234," \\"List\\"":238," \\"Living\\"":25," \\"Rooms\\"":8," \\"Beds\\"":4," \\"Baths\\"":2," \\"Age\\"":2," \\"Acres\\"":1.61," \\"Taxes\\"":2087},"13":{"Sell":106," \\"List\\"":116," \\"Living\\"":20," \\"Rooms\\"":8," \\"Beds\\"":4," \\"Baths\\"":1," \\"Age\\"":13," \\"Acres\\"":0.22," \\"Taxes\\"":2818},"14":{"Sell":175," \\"List\\"":180," \\"Living\\"":22," \\"Rooms\\"":8," \\"Beds\\"":4," \\"Baths\\"":2," \\"Age\\"":15," \\"Acres\\"":2.06," \\"Taxes\\"":3917},"15":{"Sell":165," \\"List\\"":170," \\"Living\\"":17," \\"Rooms\\"":8," \\"Beds\\"":4," \\"Baths\\"":2," \\"Age\\"":33," \\"Acres\\"":0.46," \\"Taxes\\"":2220},"16":{"Sell":166," \\"List\\"":170," \\"Living\\"":23," \\"Rooms\\"":9," \\"Beds\\"":4," \\"Baths\\"":2," \\"Age\\"":37," \\"Acres\\"":0.27," \\"Taxes\\"":3498},"17":{"Sell":136," \\"List\\"":140," \\"Living\\"":19," \\"Rooms\\"":7," \\"Beds\\"":3," \\"Baths\\"":1," \\"Age\\"":22," \\"Acres\\"":0.63," \\"Taxes\\"":3607},"18":{"Sell":148," \\"List\\"":160," \\"Living\\"":17," \\"Rooms\\"":7," \\"Beds\\"":3," \\"Baths\\"":2," \\"Age\\"":13," \\"Acres\\"":0.36," \\"Taxes\\"":3648},"19":{"Sell":151," \\"List\\"":153," \\"Living\\"":19," \\"Rooms\\"":8," \\"Beds\\"":4," \\"Baths\\"":2," \\"Age\\"":24," \\"Acres\\"":0.34," \\"Taxes\\"":3561},"20":{"Sell":180," \\"List\\"":190," \\"Living\\"":24," \\"Rooms\\"":9," \\"Beds\\"":4," \\"Baths\\"":2," \\"Age\\"":10," \\"Acres\\"":1.55," \\"Taxes\\"":4681},"21":{"Sell":293," \\"List\\"":305," \\"Living\\"":26," \\"Rooms\\"":8," \\"Beds\\"":4," \\"Baths\\"":3," \\"Age\\"":6," \\"Acres\\"":0.46," \\"Taxes\\"":7088},"22":{"Sell":167," \\"List\\"":170," \\"Living\\"":20," \\"Rooms\\"":9," \\"Beds\\"":4," \\"Baths\\"":2," \\"Age\\"":46," \\"Acres\\"":0.46," \\"Taxes\\"":3482},"23":{"Sell":190," \\"List\\"":193," \\"Living\\"":22," \\"Rooms\\"":9," \\"Beds\\"":5," \\"Baths\\"":2," \\"Age\\"":37," \\"Acres\\"":0.48," \\"Taxes\\"":3920},"24":{"Sell":184," \\"List\\"":190," \\"Living\\"":21," \\"Rooms\\"":9," \\"Beds\\"":5," \\"Baths\\"":2," \\"Age\\"":27," \\"Acres\\"":1.3," \\"Taxes\\"":4162},"25":{"Sell":157," \\"List\\"":165," \\"Living\\"":20," \\"Rooms\\"":8," \\"Beds\\"":4," \\"Baths\\"":2," \\"Age\\"":7," \\"Acres\\"":0.3," \\"Taxes\\"":3785},"26":{"Sell":110," \\"List\\"":115," \\"Living\\"":16," \\"Rooms\\"":8," \\"Beds\\"":4," \\"Baths\\"":1," \\"Age\\"":26," \\"Acres\\"":0.29," \\"Taxes\\"":3103},"27":{"Sell":135," \\"List\\"":145," \\"Living\\"":18," \\"Rooms\\"":7," \\"Beds\\"":4," \\"Baths\\"":1," \\"Age\\"":35," \\"Acres\\"":0.43," \\"Taxes\\"":3363},"28":{"Sell":567," \\"List\\"":625," \\"Living\\"":64," \\"Rooms\\"":11," \\"Beds\\"":4," \\"Baths\\"":4," \\"Age\\"":4," \\"Acres\\"":0.85," \\"Taxes\\"":12192},"29":{"Sell":180," \\"List\\"":185," \\"Living\\"":20," \\"Rooms\\"":8," \\"Beds\\"":4," \\"Baths\\"":2," \\"Age\\"":11," \\"Acres\\"":1.0," \\"Taxes\\"":3831},"30":{"Sell":183," \\"List\\"":188," \\"Living\\"":17," \\"Rooms\\"":7," \\"Beds\\"":3," \\"Baths\\"":2," \\"Age\\"":16," \\"Acres\\"":3.0," \\"Taxes\\"":3564},"31":{"Sell":185," \\"List\\"":193," \\"Living\\"":20," \\"Rooms\\"":9," \\"Beds\\"":3," \\"Baths\\"":2," \\"Age\\"":56," \\"Acres\\"":6.49," \\"Taxes\\"":3765},"32":{"Sell":152," \\"List\\"":155," \\"Living\\"":17," \\"Rooms\\"":8," \\"Beds\\"":4," \\"Baths\\"":1," \\"Age\\"":33," \\"Acres\\"":0.7," \\"Taxes\\"":3361},"33":{"Sell":148," \\"List\\"":153," \\"Living\\"":13," \\"Rooms\\"":6," \\"Beds\\"":3," \\"Baths\\"":2," \\"Age\\"":22," \\"Acres\\"":0.39," \\"Taxes\\"":3950},"34":{"Sell":152," \\"List\\"":159," \\"Living\\"":15," \\"Rooms\\"":7," \\"Beds\\"":3," \\"Baths\\"":1," \\"Age\\"":25," \\"Acres\\"":0.59," \\"Taxes\\"":3055},"35":{"Sell":146," \\"List\\"":150," \\"Living\\"":16," \\"Rooms\\"":7," \\"Beds\\"":3," \\"Baths\\"":1," \\"Age\\"":31," \\"Acres\\"":0.36," \\"Taxes\\"":2950},"36":{"Sell":170," \\"List\\"":190," \\"Living\\"":24," \\"Rooms\\"":10," \\"Beds\\"":3," \\"Baths\\"":2," \\"Age\\"":33," \\"Acres\\"":0.57," \\"Taxes\\"":3346},"37":{"Sell":127," \\"List\\"":130," \\"Living\\"":20," \\"Rooms\\"":8," \\"Beds\\"":4," \\"Baths\\"":1," \\"Age\\"":65," \\"Acres\\"":0.4," \\"Taxes\\"":3334},"38":{"Sell":265," \\"List\\"":270," \\"Living\\"":36," \\"Rooms\\"":10," \\"Beds\\"":6," \\"Baths\\"":3," \\"Age\\"":33," \\"Acres\\"":1.2," \\"Taxes\\"":5853},"39":{"Sell":157," \\"List\\"":163," \\"Living\\"":18," \\"Rooms\\"":8," \\"Beds\\"":4," \\"Baths\\"":2," \\"Age\\"":12," \\"Acres\\"":1.13," \\"Taxes\\"":3982},"40":{"Sell":128," \\"List\\"":135," \\"Living\\"":17," \\"Rooms\\"":9," \\"Beds\\"":4," \\"Baths\\"":1," \\"Age\\"":25," \\"Acres\\"":0.52," \\"Taxes\\"":3374},"41":{"Sell":110," \\"List\\"":120," \\"Living\\"":15," \\"Rooms\\"":8," \\"Beds\\"":4," \\"Baths\\"":2," \\"Age\\"":11," \\"Acres\\"":0.59," \\"Taxes\\"":3119},"42":{"Sell":123," \\"List\\"":130," \\"Living\\"":18," \\"Rooms\\"":8," \\"Beds\\"":4," \\"Baths\\"":2," \\"Age\\"":43," \\"Acres\\"":0.39," \\"Taxes\\"":3268},"43":{"Sell":212," \\"List\\"":230," \\"Living\\"":39," \\"Rooms\\"":12," \\"Beds\\"":5," \\"Baths\\"":3," \\"Age\\"":202," \\"Acres\\"":4.29," \\"Taxes\\"":3648},"44":{"Sell":145," \\"List\\"":145," \\"Living\\"":18," \\"Rooms\\"":8," \\"Beds\\"":4," \\"Baths\\"":2," \\"Age\\"":44," \\"Acres\\"":0.22," \\"Taxes\\"":2783},"45":{"Sell":129," \\"List\\"":135," \\"Living\\"":10," \\"Rooms\\"":6," \\"Beds\\"":3," \\"Baths\\"":1," \\"Age\\"":15," \\"Acres\\"":1.0," \\"Taxes\\"":2438},"46":{"Sell":143," \\"List\\"":145," \\"Living\\"":21," \\"Rooms\\"":7," \\"Beds\\"":4," \\"Baths\\"":2," \\"Age\\"":10," \\"Acres\\"":1.2," \\"Taxes\\"":3529},"47":{"Sell":247," \\"List\\"":252," \\"Living\\"":29," \\"Rooms\\"":9," \\"Beds\\"":4," \\"Baths\\"":2," \\"Age\\"":4," \\"Acres\\"":1.25," \\"Taxes\\"":4626},"48":{"Sell":111," \\"List\\"":120," \\"Living\\"":15," \\"Rooms\\"":8," \\"Beds\\"":3," \\"Baths\\"":1," \\"Age\\"":97," \\"Acres\\"":1.11," \\"Taxes\\"":3205},"49":{"Sell":133," \\"List\\"":145," \\"Living\\"":26," \\"Rooms\\"":7," \\"Beds\\"":3," \\"Baths\\"":1," \\"Age\\"":42," \\"Acres\\"":0.36," \\"Taxes\\"":3059}}'

In [6]:
# Sometimes, we might encounter Missing Values in the Dataset. So we will be handling them using Pandas.

dataset=pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Chronic%20Kidney%20Disease%20(CKD)%20Dataset/ChronicKidneyDisease.csv") 
dataset.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [7]:
# Checking for NULL values in our dataset

dataset.isnull().values.any()

True

In [8]:
#That's a pity! We have now to clean the dataset to get accurate results of our Data Analysis.

dataset=dataset.dropna(axis = 0, how ='any') 
dataset.isnull().values.any()

False

In [9]:

# Let's check if our Dataset has any NULL values in the Dataset

dataset.isnull().values.any()

False

In [10]:
# We can also use other functions like notnull() to check if there are any NULL values in the Dataset. So let's load it for another time.

dataset1=pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Chronic%20Kidney%20Disease%20(CKD)%20Dataset/ChronicKidneyDisease.csv") 
pd.notnull(dataset1)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,True,True,True,True,True,True,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,False,True,True,True,...,True,True,False,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
396,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
397,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
398,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
399,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [11]:
# Instead of just dropping the Rows where the values are missing, we can handle them using other functions.

dataset1.fillna(0) # It will just replace all NULL values with Zero

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,0,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,0,normal,notpresent,notpresent,...,38,6000,0,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,0,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [12]:
dataset1.isnull().values.any()

True